body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container,
.search-container,
.admin-container {
    margin-bottom: 20px;
}

.login-container input,
.search-container input,
.admin-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

.login-container button,
.admin-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}

#search-results {
    margin-top: 10px;
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#user-role {
    margin-top: 10px;
    font-size: 18px;
}
